*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    gap: 30px;
}
.templates-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
}
.container{
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(86, 86, 86, 0.071);
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: 100%;
}
.top-section{
    padding: 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 25px;
}
.graph-details {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 20px;
}
.graph-name{
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
}
.remove-template-btn{
    padding: 8px 8px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px rgba(86, 86, 86, 0.071);
    background-color: black;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    white-space: nowrap;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.input-outer-group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.inputs-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.input-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.input-label {
    font-size: 14px;
    white-space: nowrap;
}
.input-box{
    padding: 5px;
    width: 45px;
    border-radius: 10px;
    border: 1px solid lightgrey;
    outline: none;
}
.btn{
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px rgba(86, 86, 86, 0.071);
    background-color: black;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    white-space: nowrap;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
}
.reset-btn {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 14px;
    letter-spacing: 1px;
}
.action-btn.clicked {
    background-color: blueviolet;
}
.bottom-section{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.grid-scrollable-container {
    flex: 1;
}
.grid-container{
    display: grid;
}
.block{
    position: relative;
    border: 0.5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: darkgrey;
}
.marker-block {
    position: absolute;
    top: 0;
    bottom: 0;

    /* animation styles----- */
    transform-origin: bottom;
    animation-name: growFromBottom;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards; 
}

@keyframes growFromBottom {
    0% {
        transform: scaleY(0);
        opacity: 0;
        transform-origin: bottom;
    }
    100% {
        transform: scaleY(1);
        opacity: 0.9;
        transform-origin: bottom;
    }
}


@media screen and (min-width:768px){
    .inputs-container {
        flex-direction: row;
    }
    .btn{
        font-size: 16px;
        letter-spacing: 2px;
    }
}

@media screen and (min-width: 1400px) {
    .input-label{
        font-size: 16px;
    }
    .input-box {
        width: 55px;
        padding: 10px;
    }
    .fill-color-input{
        padding: 5px;
    }
}